<h1>Today's Filings</h1>

<h5><%= link_to "<<<", date_path(@yesterday.year, @yesterday.month, @yesterday.day) %> | <%= link_to ">>>", date_path(@tomorrow.year, @tomorrow.month, @tomorrow.day) %></h5>
<table class="table table-striped tablesorter-blue">
  <thead>
    <tr>
      <th>Committee</th>
      <th>Report title</th>
      <th>Form type</th>
      <th>End Date</th>
      <th>Amendment</th>
      <th>Receipts</th>
      <th>Spending</th>
    </tr>
  </thead>

  <tbody>

<% @fec_filings.each do |fec_filing| %>
  <tr>
    <td><%= fec_filing.committee_name %> (<%= fec_filing.committee %>)</td>
    <td><%= link_to fec_filing.report_title, fec_filing.fec_uri, :target => "_blank" %></td>
    <td><%= fec_filing.form_type %></td>
    <td><%= fec_filing.date_coverage_to %></td>
    <td><%= link_to("compare", "http://comparinator.herokuapp.com/fec_filings/#{fec_filing.original_filing}/#{fec_filing.filing_id}", :target => "_blank") if fec_filing.is_amendment %></td>
    <td><%= build_link(fec_filing, 'a') %></td>
    <td><%= build_link(fec_filing, 'b') %></td>
  </tr>
<% end %>

  </tbody>
</table>

<button id="install">
  Install on Firefox OS home screen
</button>
 
<script>
(function(){
  function install(ev) {
    ev.preventDefault();
    // define the manifest URL
    var manifest_url = "http://itemizer.herokuapp.com/manifest.webapp";
    // install the app
    var myapp = navigator.mozApps.install(manifest_url);
    myapp.onsuccess = function(data) {
      // App is installed, remove button
      this.parentNode.removeChild(this);
    };
    myapp.onerror = function() {
      // App wasn't installed, info is in this.error.name
      console.log('Install failed, error: ' + this.error.name);
     };
  };
  // get a reference to the button and call install() on click
  var button = document.getElementById('install');
  button.addEventListener('click', install, false);
})();
</script>
